$primary-color: #4840ba;
$warning-color: #ffc107;
$danger-color: #dc3545;
$success-color: #28a745;

$white-color: #ffffff;
$black-color: #000000;
$gray-color: #f9f9f9;
$dark-gray-color: #a9a9a9;

$border-radius: 0.25rem;
